@using TatilSeyahatProjesiCore.Models.Siniflar
@model List<Blog>

<div class="padding1">
    <h4>En Beğendiğim Yerler</h4>
    <div class="box-left">
        @foreach (var x in Model.Take(3)) // sadece ilk 3
        {
            <div class="bot-img">
                <a href="/Blog/BlogDetay/@x.BlogId">
                    <img src="@x.BlogResim" style="width:120px;height:65px" alt="" />
                </a>
            </div>
            <div class="bot-desc">
                @{
                    var ozet = string.IsNullOrEmpty(x.Aciklama)
                    ? ""
                    : (x.Aciklama.Length > 50
                    ? x.Aciklama.Substring(0, 50) + "..."
                    : x.Aciklama);
                }
                <p>@ozet</p>
            </div>
            <div class="clear"></div>
        }
    </div>

    @await Html.PartialAsync("Partial4", Model.OrderByDescending(x => x.BlogId).Take(3).ToList())
</div>
