@model TatilSeyahatProjesiCore.Models.Siniflar.Admin
@{
    ViewData["Title"] = "AdminGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h1>Admin Güncelleme Sayfası</h1>
<br />

@using (Html.BeginForm("AdminGuncelle", "Admin", FormMethod.Post))
{
	@Html.HiddenFor(x => x.AdminId)
	<label>Admin Id</label>
	@Html.TextBoxFor(x => x.AdminId, new { @class = "form-control", @disabled = "disabled" })
	<br />
	<label>Kullanıcı Adı</label>
	@Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })
	<br />
	<label>Şifre</label>
	@Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
	<br />
	<br />

	<button class="btn btn-success">Admin Güncelle !</button>
}
